/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6 {
    margin:0;padding:0
}
html {
    box-sizing:border-box
}
*,*::before,*::after {
    box-sizing:inherit
}
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal
}
ul {
    list-style:none
}
button,input,select {
    margin:0
}
img,video {
    height:auto;
    max-width:100%
}
iframe {
    border:0
}
table {
    border-collapse:collapse;
    border-spacing:0
}
td,th {
    padding:0
}

/********** ALL **********/
body {
    width: 100%;
    margin: 0%;
    font-family: "Raleway";
    font-size: 12px;
    color: black;
    box-sizing: border-box;
}

/********** HEADER **********/

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0% 2% 0% 2%;
}
.logo {
    width: 80px;
}
nav ul {
    display: flex;
    list-style-type: none;
    margin: 0px;
}
nav a {
    display: flex;
    text-decoration: none;
    padding: 50px 20px 0px 20px ;
    color: black;
    font-weight: bold;
}
nav a:visited {
    border-top: 1px solid #0065fc;
}
nav a:hover, nav a:focus, nav a:active {
    border-top: 1px solid #0065fc;
    color: #0065fc;
}

/********** SECTION FORMULAIRE **********/

.formulaire {
    padding: 0% 2% 0% 2%;
}
.formulaire h1 {
    font-weight: 800;
    font-size: 16px;
    margin: 20px 0px 5px 0px;
}
.formulaire p {   
    font-size: small;
    margin: 5px 0px 15px 0px;
}
form {
    margin: 20px 0px 5px 0px;
}
.search {
    display: flex;
    margin-bottom: 10px;
}
label {
    border: 1px solid #F2F2F2;
    background-color: #F2F2F2;
    padding: 12px;
    border-radius: 10px 0px 0px 10px ;
}
input {
    font-weight: bold;
    border: 1px solid #F2F2F2;
    padding: 12px;
}
button {
    font-family: "Raleway";
    color: white;
    padding: 12px;
    border-radius: 0px 10px 10px 0px ;
    border-width: 0px;
    border-color: #0065fc;
    background-color: #0065fc;
}
.searchfirst i {
    display: none;
}
.filtres {
    display: flex;
    align-items: baseline;
}
.filtres h2 {
    font-size: 14px;
    font-weight: 800;
}
.filtres ul {   
    display: flex;
    flex-wrap: wrap;
}
.filtres li {   
    display: flex;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    padding-right: 20px;
    margin: 10px;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
}
.filtres i {
    background-color: #deebff;
    color: #0065fc;
    padding: 10px;
    margin-right:20px;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
}
.filtres a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 800;
    color: black;
    margin: 10px;
}
.filtres li:hover {
    background-color: #deebff;
}
.info {
    display: flex;
    align-items: baseline;
}
.info i {
    color: #0065fc;
}
.info p {
    margin-left: 10px;
}

/********** SECTION MARSEILLE **********/

.marseille {
    display: flex; 
    flex-wrap: wrap;  
    justify-content: space-between;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-bottom: 30px;    
    padding: 0% 2% 0% 2%;
}
.marseille h1 {
    width: 100%;
    font-weight: 800;
    font-size: 15px;
    margin-bottom: 15px;
}
.popular h1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.lodging {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    width: 70%;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #F2F2F2;
    border-radius: 15px;
}
.h-all{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.lodging a {
    width: 30%;
    text-decoration: none;
    color: black;
}
.lodging .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    box-shadow: 3px 3px 10px lightgray;
    border-radius: 15px;
    width: 100%;
    padding: 4px;
    margin-bottom: 20px;
}
.lodging .card:hover, .lodging .card:focus, .lodging .card:active {
    color: #0065fc;
}
.lodging .card img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}
.lodging .describ {
    margin-left: 5%;
}
.describ h3, .hplus {
    font-size: 12px;
    font-weight: 800;
    text-decoration: none;
    width: 100%;
    margin: 3% 0%
}
.hplus:hover, .hplus:focus, .hplus:active {
    color: #0065fc;
}
.describ p {
    font-size: 11px;
    width: 100%;
    margin: 3% 0%;
}
.describ .star {
    color: #F2F2F2;
}
.describ .fa-star.blue {
    color: #0065fc;
}

.popular {
    width: 28%;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #F2F2F2;
    border-radius: 15px;
}
.p-all {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
}
.popular a {
    width: 100%;
    height: 30%;
    text-decoration: none;
    color: black;
}
.popular h1>a {
    width: auto;
}
.popular h1>a:hover, .popular h1>a:focus, .popular h1>a:active {
    color: #0065fc;
}
.popular .card {
    display: flex;
    background-color: white;
    box-shadow: 3px 3px 10px lightgray;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    padding: 3px;
}
.popular .card img{
    width: 40%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 0px 0px 15px;
}
.popular .card:hover, .popular .card:focus, .popular .card:active {
    color: #0065fc;
}
.popular .describ {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 58%;
    padding: 5%;
}
.activity {
    width: 100%;
    padding: 1%;
}
.activity h3 {
    font-size: 12px;
    font-weight: 800;
    width: 100%;
    padding: 10px;
    margin: 3% 0% 3% 5%;
}
.a-all {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 400px;
}
.activity a {
    width: 22%;
    height: 100%;
    text-decoration: none;
    color: black;
}
.bigcard {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 3px 3px 10px lightgray;
    border-radius: 15px;
}
.bigcard:hover, .bigcard:focus, .bigcard:active {
    color: #0065fc;
}
.smallcard-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 22%;
    height: 100%;
}
.smallcard-container a {
    width: 100%;
    height: auto;
    text-decoration: none;
    color: black;
}
.smallcard {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    box-shadow: 3px 3px 10px lightgray;
    border-radius: 15px;
}
.smallcard:hover, .smallcard:focus, .smallcard:active {
    color: #0065fc;
}
.pom {
    height: 170px;
}
.fri {
    height: 109px;
}
.notre {
    height: 140px;
}
.parc {
    height: 140px;
}
.fat {
    height: 390px;
}
.bigcard img {
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}
.smallcard img {
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}

/********** FOOTER **********/

footer {
    display: flex;
    background-color: #F2F2F2;
    padding: 2%;
}
footer h2 {
    font-size: 14px;
    font-weight: 800;
}
footer ul {
    list-style-type: none;
    padding-inline-start: 0px;
}
footer li {
    margin: 10px 0px;
}
footer a {
    text-decoration: none;
    color: black;
}
footer a:hover, footer a:focus, footer a:active {
    color: #0065fc;
}
.propos {
    width: 35%;
    margin-left: 3%;
}
.heberg {
    width: 35%;
}
.help {
    width: 35%;
}